<div [class]="{
  status: true,
  'status-online': currentStatus === 'online',
  'status-offline': currentStatus === 'offline',
  'status-unknown': currentStatus === 'unknown',
}">
<!--
In above div tag add

* Single style binding.
[style.fontSize]="'64px'"

* Multiple style binding.
[style]="{
    'font-size': '64px',
    'backgroundColor': 'lightblue',
  }"
* You can use camelCase synatax also like 'fontSize':'64px', to aviod (-), or using quotes.

-->
@if (currentStatus === 'online') {
<p>Servers are online</p>
<p>All systems are operational.</p>
} @else if (currentStatus === 'offline') {
<p>Servers are {{currentStatus}}</p>
<p>Functionality should be restored soon.</p>
} @else {
<p>Server status is unknown</p>
<p>Fetching server status failed.</p>
}
</div>
